<div
  class="banner"
  *ngIf="moviedetails"
  [style.backgroundImage]="
    'linear-gradient(90deg, black 20%, transparent),url(https://image.tmdb.org/t/p/w780/' +
    this.moviedetails.poster_path +
    ')'
  "
>
  <div class="caption">
    <h3>
      {{ moviedetails.title || moviedetails.original_title }}
    </h3>
  </div>
</div>

<div class="trailers py-4">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <mat-tab-group>
          <mat-tab label="Overview">
              <app-overview   [movie]="moviedetails"></app-overview>
          </mat-tab>
          <mat-tab label="Videos">
            <div class="container mt-4">
              <div class="row">
                <div class="col-md-6 mb-4"  *ngFor="let movie of movieTrailers">
                  <app-embedvideo [site]="movie.site" [key]="movie.key"></app-embedvideo>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Photos">
            <app-movie-photos></app-movie-photos>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<!--  -->
