<div
  class="banner"
  *ngIf="moviedetails"
  [style.backgroundImage]="
    'linear-gradient(90deg, black 20%, transparent),url(https://image.tmdb.org/t/p/original/' +
    this.moviedetails.poster_path +
    ')'
  "
>
  <div class="caption">
    <h3>
      {{moviedetails.title || moviedetails.original_title}}
    </h3>
  </div>
</div>

<div class="trailers py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-1" *ngFor="let trailer of movieTrailers">
        <p
          class="alert alert-info trailername"
          (click)="runTrailer(trailer.key)"
        >
          {{ trailer.name }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="trailer-container" *ngIf="trailerUrl">
  <button class="btn btn-danger closeModal" (click)="trailerUrl = ''">
    close
  </button>
  <iframe
    width="560"
    height="315"
    [src]="trailerUrl"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<!-- <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/{{trailer.key}}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe> -->
